.WaypointListItem {
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.WaypointListItem:hover {
  background: #444444;
}
.WaypointListItem_grip {
  color: #747474;
}
.WaypointListItem-drop-target:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 4px solid #1086e8;
  display: block;
  content: "";
}
