.WaypointIcon {
  border: none;
  color: white;
  font-weight: bold;
  background: #383838;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
  box-shadow: #383838;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.3);
}
