.List {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.List_item {
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
}
.List_item_grip {
  color: #747474;
}

.DeleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #747474;
}
.DeleteButton:hover {
  color: white;
}
